<div class="col-6 col-md-3 offset-md-4 mb-3">
<p>creer un compte</p>

<form>

  <input type="text" name="nom"/>
  <input type="text" name="prenom"/>
  <input type="text" name="adresse"/>

  <input type="password" name="password"/>
  <input type="password" name="confirm_password"/>
  <input type="radio"/> J'accepte les termes et conditions
  <button>Je m'inscris</button>
  <div class="col-12  mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

  </div>
  <div class="col-12  mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="col-12  mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>

</form>
<p> Avez-vous dejà un compte? Connexion</p>
</div>
