<div class="col-6 col-md-3 offset-md-4 mb-3">
  <p class="text-center">Créer un compte</p>

  <form>

    <div class="col-12  mb-3">
      <label for="InputLastname" class="form-label">Nom</label>
      <input type="text" class="form-control" id="InputLastname" aria-describedby="emailHelp">
    </div>
    <div class="col-12  mb-3">
      <label for="InputFirstname" class="form-label">Prénom</label>
      <input type="text" class="form-control" id="InputFirstname" aria-describedby="emailHelp">
    </div>
    <div class="col-12  mb-3">
      <label for="InputAdresse" class="form-label">Adresse</label>
      <input type="text" class="form-control" id="InputAdresse" aria-describedby="emailHelp">
    </div>
    <div class="col-12  mb-3">
      <label for="InputService" class="form-label">Service  proposé</label>
      <input type="text" class="form-control" id="InputService" aria-describedby="emailHelp">
    </div>
    <div class="col-12  mb-3">
      <label for="InputExperience" class="form-label">Expérience</label>
      <input type="text" class="form-control" id="InputExperience" aria-describedby="emailHelp">
    </div>
    <div class="col-12  mb-3">
      <label for="InputVille" class="form-label">Ville</label>
      <input type="text" class="form-control" id="InputVille" aria-describedby="emailHelp">
    </div>
    <div class="col-12  mb-3">
      <label for="InputCommune" class="form-label">Commune</label>
      <input type="text" class="form-control" id="InputCommune" aria-describedby="emailHelp">
    </div>

    <div class="col-12  mb-3">
      <label for="InputTelephone" class="form-label">Téléphone</label>
      <input type="text" class="form-control" id="InputTelephone" aria-describedby="emailHelp">
    </div>
    <div class="col-12  mb-3">
      <label for="InputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp">

    </div>
    <div class="col-12 mb-3">
      <label for="InputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="InputPassword1">
    </div>
    <div class="col-12  form-check">
      <input type="checkbox" class="form-check-input" id="Check1">
      <label class="form-check-label" for="Check1">J’accepte les termes et conditions</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>

  </form>

  <p> Avez-vous dejà un compte? Connexion</p>

  </div>
