<div class="container-fluid text-white bg-black">
  <footer class="py-5 container">
    <div class="row">
      <div class="col-6 col-md-3 mb-3">
        <h5>Nos services</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">PLomberie</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Menuiserie</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Carrelage</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Electricité</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Peintre</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Jardiange</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Froid</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Blanchisserie</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Lavage auto et tapis</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Nettoyage de fin de chantier</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-3 mb-3">
        <h5>Soutramoi</h5>
        <ul class="nav flex-column">

          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Accueil</a></li>
          <li class="nav-item mb-2"><a routerLink="abonnement" class="nav-link p-0 text-white">Abonnement</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Inscription</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Connexion</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">A propos de nous</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Contacts</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Condition d'utilisation</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Faq</a></li>
        </ul>
      </div>

      <div class="col-md-5 offset-md-1 mb-3">
        <form>
          <h5>Inscrivez vous à notre newsletter pour rester à jour!</h5>

          <div class="d-flex flex-column flex-sm-row w-100 gap-2">
            <label for="newsletter1" class="visually-hidden">Votre email</label>
            <input id="newsletter1" type="text" class="form-control" placeholder="Votre email">
            <button class="btn btn-primary" type="button">s’abonner</button>
          </div>
        </form>
      </div>
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
      <p>&copy; 2023 SOUTRAMOI. Tous droits réservés..</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
        <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
        <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
      </ul>
    </div>
  </footer>
</div>
