
<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="col-md-3 mb-2 mb-md-0">
      <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
        <img src="../../../assets/logo.jpeg" style="width: 100px;">
      </a>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
     <li><a routerLink="service" class="nav-link px-2 link-secondary">Demander un service</a></li>

      <li><a routerLink="signupPrestataire" class="nav-link px-2">Devenir Prestataire</a></li>
      <li><a routerLink="propos" class="nav-link px-2">A propos</a></li>
      <li><a routerLink="contact" class="nav-link px-2">Contactez-nous</a></li>


    </ul>

    <div class="col-md-3 text-end">
      <button type="button" routerLink="signin" class="btn btn-outline-primary me-2">Connexion</button>
      <button type="button" routerLink="signupClient" class="btn btn-primary">Inscription</button>
    </div>
  </header>
</div>
